{% extends 'coffee_shop/base.html' %}

{% block title %}
    О проекте
{% endblock %}

{% block css_additional %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'coffee_shop/css/project.css' %}">
{% endblock %}

{% block body %}


    <div class="header">
        <h1>Специальность: Компьютерные науки</h1>

    </div>

    <div class="container">


        <h1>Зертханалық жұмыс</h1>


        <p>

            <li> 1. Компьютеріңізге Django фреймворкын орнатыңыз.</li>


            <li>2. Практикалық сабақта таңдап алынған жоба тақырыбы атауымен Django жобасын құрыңыз.</li>


            <li>3. Django қолданбасында келесі ақпаратты шығаратын функция жазыңыз және оны ашытын URL адрес
                беріңіз:
            </li>

            <li>Бұл жобада біз тұтынушыларға тауарларды/қызметтерді таңдау және сатып алу үшін ыңғайлы және
                интуитивті интерфейсті қамтамасыз ету үшін интернет-дүкеннің веб-жобасын әзірлейміз. Біздің
                интернет-дүкенімізде пайдаланушыларды тіркеу мүмкіндігі, өнімдерді ыңғайлы іздеу және сүзу, сатып
                алу себеттерін басқару, әртүрлі төлем және жеткізу әдістері, сондай-ақ тұтынушылармен өзара
                әрекеттесу үшін кері байланыс құралдары сияқты кең ауқымды функциялар болады.
            </li>

            <li>Сайт функциялары:</li>
            <li>Клиентті тіркеу:</li>

            <li>Мәзір:</li>

            <li>Басты бет:</li>

            <li>Өнімдер:</li>

            <li>Біз туралы:</li>

            <li>Бізбен байланыс:</li>

            <li>Іздеу:</li>
        <p>

    </div>


    <div class="footer">
        <p>&copy; 2024 Специальность: Компьютерные науки</p>
    </div>

{% endblock %}