{% extends 'myauth/base.html' %}


{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <header>
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Регистрация</button>
            <a href="{% url 'myauth:login' %}">
                <button type="button" class="btn btn-secondary btn-lg">Войти</button>
            </a>
        </form>
    </header>
{% endblock %}